.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.size{
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.picture img{
    width: 500px;
    height: 500px;
}

.tornike1 p{
    font-size: 25px;
    font-weight:700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    margin-left: 20px;
    color:brown;
    line-height: 40px;
}

.tornike2 p{
    font-size: 25px;
    font-weight:800;
    font-style: italic;
    margin-right: 20px;
    color: green;
    line-height: 40px;
}

.tornike3{
    background-color: rgb(255, 0, 64);
}

.tornike4{
    background-color: rgb(0, 255, 98);
}

.tornike5{
    background-color: rgb(200, 255, 0);
}

.tornike6{
    background-color: rgb(0, 204, 255);
}

.tornike7{
    background-color: rgb(255, 0, 255);
}

.tornike8{
    background-color: rgb(255, 30, 0);
}

.tornike9{
    background-color: rgb(255, 136, 0);
}

.tornike10{
    background-color: blue;
}