.tornike1
    {
            height: 100px;
            width: 100px;       
            border-radius: 20px;  
            background-color: yellow;
    }

.tornike2
    { 
            height: 100px;  
            width: 100px;   
            border-radius: 20px;    
            background-color: green;
            margin-left: 15px;
    }
  
.tornike3
        {  
                height:100px;
                width: 100px;
                border-radius:20px;
                background-color: blue;
                margin-left: 15px; 
        }

.tornike4
        {
                height: 100px;
                width: 100px;
                border-radius: 20px;
                background-color: red;
                margin-left: 15px;
        }
    
.tornike5
        {
                height: 100px;
                width: 100px;
                border-radius: 20px;
                background-color: aqua;
                margin-left: 15px;
        }

.tornike6
        {
                height: 100px;
                width: 100px;
                border-radius: 20px;
                background-color:blueviolet;
                margin-left: 15px;
        }
    
    .container
    {
            display:flex;
    }
h1{color:black;}
.bg-color{background-color:rgb(195, 255, 127);}